* {
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #f7f7f7;
}

.responsive-img {
  margin-top: 20px;
  border-radius: 12px;
}

h3 {
  font-size: 180%;
}

table {
  margin-top: 20px;
}

.gameplay-video {
  display: flex;
  justify-content: center;
}

.download-button {
  display: flex;
  justify-content: center;
}

body {
  margin-bottom: 300px;
}
